Source: xserver-xorg-video-siliconmotion
Section: x11
Priority: optional
Maintainer: Adrian Bunk <bunk@debian.org>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf,
 pkg-config,
 xserver-xorg-dev (>= 2:1.9.4),
 x11proto-dev,
 quilt,
 xutils-dev (>= 1:7.5+4),
Standards-Version: 3.9.8
Homepage: https://www.x.org

Package: xserver-xorg-video-siliconmotion
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${xviddriver:Depends},
Provides:
 ${xviddriver:Provides}
Description: X.Org X server -- SiliconMotion display driver
 This package provides the driver for the SiliconMotion Lynx and Cougar family
 of chipsets, commonly found in laptops.
 .
 This package is built from the X.org xf86-video-siliconmotion driver module.
